<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.qa.connectionproject.dao.IPhotoDAO">
	<resultMap id="photo"
		type="by.qa.connectionproject.models.file.Photo">
		<id property="id" column="id" />
		<result property="publicationDate" column="publication_date" />
		<result property="albumId" column="album_id" />
	</resultMap>
	<select id="getEntityById" parameterType="java.lang.Long"
		resultMap="photo"> 
		SELECT * FROM Photos WHERE id = #{id}
	</select>
	<select id="getAll" resultMap="photo">
		SELECT * FROM Photos
	</select>
	<insert id="create" parameterType="by.qa.connectionproject.models.file.Photo"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Photos (publication_date,album_id) VALUES (#{publicationDate},#{albumId}) 	    
	</insert>
	 <update id="update" parameterType="by.qa.connectionproject.models.file.Photo">
        UPDATE Photos SET publication_date = #{publicationDate}, album_id = #{albumId} WHERE id = #{id} 
    </update>
	<delete id="delete" parameterType="java.lang.Long">
        DELETE FROM Photos WHERE id = #{id}
    </delete>
    <select id="getAllPhotosByAlbumId" parameterType="java.lang.Long"
		resultMap="photo"> 
		SELECT Photos.id, Photos.publication_date, Photos.album_id FROM Photos RIGHT JOIN Albums ON Albums.id=Photos.album_id WHERE Albums.id = #{id}
	</select>
</mapper>