<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.qa.connectionproject.service.IVideoService">
	<resultMap id="video"
		type="by.qa.connectionproject.models.file.Video">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="publicationDate" column="publication_date" />
		<result property="profileId" column="profile_id" />
	</resultMap>
	<select id="getVideoById" parameterType="java.lang.Long"
		resultMap="video"> 
		SELECT * FROM Videos WHERE id = #{id}
	</select>
	<select id="getAll" resultMap="video">
		SELECT * FROM Videos
	</select>
	<insert id="create" parameterType="by.qa.connectionproject.models.file.Video"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Videos (name,publication_date,profile_id) VALUES (#{name},#{publicationDate},#{profileId}) 	    
	</insert>
	 <update id="update" parameterType="by.qa.connectionproject.models.file.Video">
        UPDATE Videos SET name = #{name}, publication_date = #{publicationDate}, profile_id = #{profileId} WHERE id = #{id} 
    </update>
	<delete id="delete" parameterType="java.lang.Long">
        DELETE FROM Videos WHERE id = #{id}
    </delete>
    <select id="getAllVideoByProfileId" parameterType="java.lang.Long"
		resultMap="video"> 
		SELECT Videos.id, Videos.name, Videos.publication_date, Videos.profile_id FROM Videos RIGHT JOIN Profiles ON Profiles.id=Videos.profile_id WHERE Profiles.id = #{id}
	</select>
</mapper>