<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="database.properties">
</properties>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost/social_network?autoReconnect=true&amp;useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC" />
				<property name="username" value="root" />
				<property name="password" value="2465350" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/CountryMapper.xml" />
		<mapper resource="mappers/CityMapper.xml" />
		<mapper resource="mappers/VideoMapper.xml" />
		<mapper resource="mappers/MusicMapper.xml" />
		<mapper resource="mappers/PhotoMapper.xml" />
		<mapper resource="mappers/AlbumMapper.xml" />
		<mapper resource="mappers/GroupMapper.xml" />
		<mapper resource="mappers/ProfileMapper.xml" />
		<mapper resource="mappers/UserMapper.xml" />
		<mapper resource="mappers/DialogMapper.xml" />
		<mapper resource="mappers/PrivateMessageMapper.xml" />
		<mapper resource="mappers/FriendshipMapper.xml" />
	</mappers>
</configuration>